labs2/expense.dtd

    <!ELEMENT expense (date, amount, paymentMethod, expenseType, Trip) >
    <!ELEMENT date (#PCDATA)>
    <!ATTLIST date day CDATA month CDATA year CDATA>
    <!ELEMENT amount (#PCDATA)>
    <!ELEMENT paymentMethod (#PCDATA)>
    <!ELEMENT expenseType (#PCDATA)>
    <!ELEMENT Trip (#PCDATA)>
    <!ATTLIST Trip name CDATA #REQUIRED>
